<div class="section">
    <div class="title">
        <h1>Our Service</h1>
    </div>
    <div class="service">
        <div class="card">
            <div class="icon">
                <i class="fas fa-calendar"></i>
            </div>
            <h2>Planning</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur perspiciatis quis porro! Optio aspernatur atque pariatur unde in vero aut eos labore facilis, architecto voluptatibus distinctio iusto illo itaque asperiores!</p>
            <a href="" class="button">read more</a>
        </div>
        <div class="card">
            <div class="icon">
                <i class="fas fa-wrench"></i>
            </div>
            <h2>Reservation</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur perspiciatis quis porro! Optio aspernatur atque pariatur unde in vero aut eos labore facilis, architecto voluptatibus distinctio iusto illo itaque asperiores!</p>
            <a href="" class="button">read more</a>
        </div>
        <div class="card">
            <div class="icon">
                <i class="fas fa-handshake"></i>
            </div>
            <h2>Support</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur perspiciatis quis porro! Optio aspernatur atque pariatur unde in vero aut eos labore facilis, architecto voluptatibus distinctio iusto illo itaque asperiores!</p>
            <a href="" class="button">read more</a>
        </div>
    </div>
</div>