<header class="text-gray-400 bg-gray-900 body-font">
    <div class="container mx-auto flex flex-wrap p-3 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-white mb-2 md:mb-0">
          <img fill="none" stroke="" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-8 h-8 text-white p-1 bg-indigo-500 rounded-full" viewBox="0 0 24 24" src="https://static.wixstatic.com/media/9fbf96_0fbf26014a794c87b00f0ad557394ad1~mv2.png/v1/fill/w_382,h_382,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/logo-red-bamboo-17-0120.png" alt="">
        <span class="ml-2 text-lg">Red Bam Boo</span>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-white text-base justify-center">
        <a routerLink="/"   routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}" class="mr-3 hover:text-gray-300">Home</a>
        <a routerLink="/menu"   routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}" class="mr-3 hover:text-gray-300">Menu</a>
        <a routerLink="/koko"   routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="mr-3 hover:text-gray-300">About</a>
        <a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="mr-3 hover:text-gray-300">Contact</a>
        <a routerLink="/cart" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="mr-3 hover:text-gray-300">Cart</a>
        <a routerLink="/login"  ><button>Log In</button></a>

      </nav>
    </div>
</header>
